Repository First-Point/cosmohub-token-list, changes with the labels that .github/labeler.yml gives for each.
All labels: ethereum, avalanche, avalanche-fuji, documentation, token-list, scripts, workflow, dependencies

Readme update
  README.md
Labels: documentation

logos update
  scripts/update-token-lists.js
  tokenlists/common_avax.json
  tokenlists/common_avax_testnet.json
  tokenlists/common_eth.json
  tokenlists/popular_avax.json
  tokenlists/popular_avax_testnet.json
Labels: scripts

logos update
  assets/43113/logos/0x0000000000000000000000000000000000000000.png
  tokenlists/common_avax_testnet.json
Labels: avalanche-fuji

logos update
  assets/43113/common.json
  assets/43114/logos/0x0000000000000000000000000000000000000000.png
  scripts/validate-logo-urls.js
  tokenlists/common_avax_testnet.json
Labels: avalanche, avalanche-fuji, token-list, scripts

logos update
  assets/43114/popular.json
Labels: avalanche, token-list

logos update
  assets/43114/logos/0xa80f36ba18c7f721f3f7acdbcdefd3a86869a036.png
Labels: avalanche

Logo update
  assets/1/common.json
  assets/1/logos/0x4507cef57c46789ef8d1a19ea45f4216bae2b528.png
  assets/1/logos/0x808507121b80c02388fad14726482e061b8da827.png
  assets/1/logos/0x888883b5f5d21fb10dfeb70e8f9722b9fb0e5e51.png
  assets/1/logos/0xb1d1eae60eea9525032a6dcb4c1ce336a1de71be.png
  assets/43113/common.json
  assets/43114/popular.json
  tokenlists/common_avax_testnet.json
  tokenlists/common_eth.json
Labels: ethereum, avalanche, avalanche-fuji, token-list

fix logo urls
  tokenlists/common_avax.json
  tokenlists/common_avax_testnet.json
Labels: none

peon added
  assets/43114/logos/0xa813d175675C7F19Bb7fD541F5AD1bcAF2117FE7.png
  tokenlists/popular_avax.json
Labels: avalanche

Update common.json
  assets/43114/common.json
Labels: avalanche, token-list

.github/labeler.yml:

# Labels for the automatic labeler
ethereum:
  - assets/1/**/*

avalanche:
  - assets/43114/**/*

avalanche-fuji:
  - assets/43113/**/*

documentation:
  - "**/*.md"
  - docs/**/*

token-list:
  - assets/**/*.json

scripts:
  - scripts/**/*

workflow:
  - .github/**/*

dependencies:
  - package.json
  - package-lock.json
